@import "tailwindcss";

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/Webspecia-Regular.woff2") format("woff2");
  /* src: url("/fonts/museo-sans/museo-sans-500.woff2") format("woff2"); */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
